@import url("reset.css");
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding: 24px 0;
  font-weight: 500px;
  border: solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  margin-right: 93px;
}
.header-menu {
  display: flex;
  gap: 50px;
}
.header-menu-item {
  position: relative;
}

.header-menu-item a {
  color: inherit;
  text-decoration: none;
}
.header-menu-item a.active {
  color: #2196f3;
}
.header-menu-item:hover a {
  color: #2196f3;
}
.header-menu-right {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.header-menu-right-item {
}

.header-menu-right-item a {
  color: #757575;
  text-decoration: none;
}

.header-menu-right-item:hover a {
  color: #2196f3;
}

/* HeRO */
.hero {
  height: 600px;
  background: #2f303a;
  display: flex;
  align-items: center;
  text-align: center;
}
.container {
}
.hero-titile {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
  max-width: 700px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: 5px;
}
.hero-butoon {
  background: #2196f3;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 16px 46px 15px;
  border-radius: 4px;
  letter-spacing: 0.96px;
  display: inline-block;
}
.hero-butoon:hover {
  background: #075391;
}
/* About */
.about {
  padding: 94px 0 0;
}
.container {
}
.about-cards {
  display: flex;
  gap: 30px;
}
.about-card {
  flex: 1 1 25%;
  padding: 100px 0 0;
}

.about-title {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.about-desc {
  color: #757575;
  text-align: justify;
}

/* DO */
.do {
  padding: 94px 0;
}

.do-title {
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 50px;
  text-align: center;
}
.do-cards {
  display: flex;
  gap: 30px;
}
.do-card {
  flex: 1 1 28%;
  height: 294px;
  /* flex-grow: ; */
  /* flex-shrink: ; */
  /* flex-basis: ; */
  position: relative;
}
.do-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.do-card-title {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  height: 70px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

/* Footer */
.footer {
  padding: 60px 0;
  background: #2f303a;
  color: #ffffff;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-menu {
  display: flex;
  flex-flow: column;
  gap: 9px;
}
.footer-menu-desc {
  color: #ffffff;
  text-decoration: none;
}
.footer-menu-item {
  color: #757575;
  text-decoration: none;
  align-self: flex-start;
}
.footer-menu-item:hover {
  color: #2196f3;
}
/* TEAM */
.team {
  background: #f5f4fa;
  padding: 94px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 50px;
  text-align: center;
  color: #212121;
}
.team-cards {
  display: flex;
  gap: 30px;
}
.team-card {
  flex: 1 1 21%;
}
.team-card > img {
  width: 100%;
  object-fit: cover;
}
.name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin: 30px 0 10px 0;
}
.prof {
  text-align: center;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}

/* final  */
.main-1 {
  margin: 94px 0;
  border: solid 1px #ffffff;
}
/* box-1 */
.home-work {
}
.container {
}
.buttons {
  margin: 0 0 34px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  text-align: center;
  gap: 8px;
}
.butoon-s {
}

.text {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.96px;
  color: #212121;

  background: #f5f4fa;
  padding: 6px 25px;
}

.text:hover {
  color: #ffffff;
  background: #2196f3;
  outline: #2196f3;
  border-radius: 4px;
}
/* box-2 */
.home_work-final {
}
.final-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 0 30px 0;
}
.final-card {
  flex: 1 1 30%;
  border: solid #eeeeee;
}
.final-card-img {
  height: 294px;
  position: relative;
}

.final-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(14, 14, 173, 0.4);
  color: #fff;
  opacity: 0;
}

.final-card:hover .box {
  opacity: 1;
}

.paragraf {
  margin-left: 24px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
.paragraf-two {
  margin: 4px 24px 20px 24px;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

/* font-family: Arial, Helvetica, "Times New-Roman", fantasy; */

/* .eat / .ttf / .ulf / .woff / .woff2 */

/*  */
.header-menu-item > li > {
  display: flex;
  background: orange;
  position: relative;
  z-index: 10;
}
.header-menu-item > li {
  display: flex;
  color: #220433;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.fil-menu {
  position: absolute;
  left: -23px;
  top: -1px;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.fil-menu > li {
  margin: 1px 0;
  display: flex;
  border: solid 1px;
  border-radius: 3px;
  padding: 3px;
  width: 100%;
  justify-content: center;
  background: rgb(8, 8, 117);
  text-transform: uppercase;
}
.fil-menu > li > a:hover {
  color: gold;
}
.fil-menu > li:hover {
  color: red;
}

.header-menu-item > ul:hover {
  opacity: 1;
}
.all {
  display: flex;
  position: absolute;
  top: 83%;
  right: 105px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(8, 8, 117);
  text-transform: uppercase;
  padding: 3px;
  margin: 1px 0;
  border: solid 1px;
  border-radius: 3px;
}
.all:hover {
  opacity: 1;
}

.all > li > a:hover {
  color: gold;
}
.all > li:hover {
  color: red;
}
